@charset "utf-8";

html {
	box-sizing: border-box;
  }
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	font-size: 150%;
	line-height: 1.4;
	width: 80%;
	margin: 0 auto;
	background-color: #F9DEC9;
}

/* header styles */

h1 {
  font-size: 3rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */
section {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}
section article {
	border: 1px solid black;
	box-shadow: 0 2px 14px grey;
	padding: 2.5%;
	width: 25%;
	margin: 0 1%;
	border-radius: 10px; 
    background-color: white;
    transition: transform 0.3s ease;
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article img {
	display: block;
	height: 120px;
    width: auto;
    margin: 20px auto;
}
section p {
  margin: 5px 0;
}

section ul {
  	text-align: left;
    padding-left: 20px;
    margin: 15px 0;
	flex-grow: 1;

}

h2 {
	font-size: 1.8rem;
  	margin-bottom: 15px;
  	line-height: 1.2;
}
